extends template
block content
    div
        p Hello, #{userName}!
        | Smth change your personal data:
        br
        | name: #{Name},
        br
        | age: #{Age}
        br
        | | photo: #{Photo}?
